PRODUCT_UPLOAD_DIR=C:\xampp\htdocs\softkeystore-uploads\products
PRODUCT_UPLOAD_BASE_URL=http://localhost/softkeystore-uploads/products

SLIPOK_API_URL=https://api.slipok.com/api/line/apikey/YOUR_BRANCH_ID
SLIPOK_API_KEY=YOUR_SLIPOK_API_KEY
ENCRYPTION_KEY=YOUR_LICENSE_KEY_ENCRYPTION_KEY
